/*    José Francisco Feliciano / Nº3210446 / PORTFÓLIO / 3ºAno Letivo, 2023-2024 / 2º Semestre / Laboratório de Projeto II / Licenciatura em Design Gráfico e Multimédia / Escola Superior de Artes e Design / Marco heleno / 30/05/2024  */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&family=Rowdies:wght@300;400;700&display=swap');

body{
    margin: 0;                              /*sem margem*/
    padding: 0;                             /*sem padding*/
    font-family: "Rowdies", sans-serif;     /*aplicar a font*/
}

header{
    position: fixed;                        /*header seguir quando damos scroll*/               
    height: 65px;                           /*aumenta o tamanho da barra*/
    width: 100%;                            /*tamanho da barra header*/
    display: flex;                          /*flex para não ficarem no centro*/
    align-items: center;                    /*colocar no centro*/
    background-color: rgb(46, 46, 46);    /*cor do cabeçalho*/
    z-index: 100;                           /*trazer para a frente*/
}

.container-logo{
    margin-right: auto;                     /*margem automática mantém a caixa "no mesmo sitio" quando diminui o tamanho da pagina*/
}

.logo{                   
    max-width: 60px;                        /*tamanho do logo*/
    padding: 0 24px;                        /*padding para a direita*/
}

.nav-links{
    display: flex;                          /*faz com que o texto fique em linha*/
    padding-right: 64px;                    /*padding para a direita*/
}

.nav-links li{            
    list-style: none;                       /*sem estilo na lista*/
    font-weight: 600 ;                      /*peso da letra*/
    padding: 0px 24px;                      /*padding para a direita*/
}

.nav-links li a{
    font-size: 1.7em;                       /*tamanho da letra*/
    color: rgb(151, 151, 151);            /*cor nas palavras não ativas*/ 
    text-decoration: none;                  /*para não aparecer a linha por baixo do texto*/
    padding-right: 10px;                    /*Padding para a direita*/
}

.nav-links li b {
    font-size: 1.7em;                       /*tamanho da letra*/             
    padding-right: 10px;                    /*Padding para a direita*/
    color: rgb(238, 238, 238);            /*cor na palavra da pagina ativa*/
}        
    
main{
    padding-left: 1vw;                      /*padding para a esquerda com a medida viewport weight*/
    padding-top: 70px;                      /*padding para cima com a medida viewport heigth*/
    font-size: 1em;                         /*tamanho da letra*/
}

.container{
    width: 100vw;                            /*tamanho da caixa das imagens*/
}

.container img{
    width: 24vw;                            /*tamanho da imagem*/
}

@media only screen and (max-width: 900px){  /*só influência quando o ecrâ tem no máximo 900 pixeis*/

    .container img{
        width: 31.7vw;                      /*tamanho da imagem aumenta fazendo a outra ir para baixo formando 3 filas*/ 
    }
}

@media only screen and (max-width: 600px){  /*só influência quando o ecrâ tem no máximo 600 pixeis*/

    .container img{
        width: 47vw;                        /*tamanho da imagem aumenta fazendo a outra ir para baixo formando 2 filas*/ 
    }
    
    .logo{                   
        padding-right: 0;                   /*padding para a direita 0*/
    }
    .nav-links li a{
        padding: 0;                         /*padding 0*/
        font-size: 23px;                    /*tamanho da letra*/
    }
    
    .nav-links li b {
        padding: 0;                         /*padding 0*/
        font-size: 23px;                    /*tamanho da letra*/
    }

    .nav-links li{
        padding-left: 0px;              
    }

}