/*    José Francisco Feliciano / Nº3210446 / PORTFÓLIO / 3ºAno Letivo, 2023-2024 / 2º Semestre / Laboratório de Projeto II / Licenciatura em Design Gráfico e Multimédia / Escola Superior de Artes e Design / Marco heleno / 30/05/2024  */

header button{
    position: fixed;                        /*header seguir quando damos scroll*/
    padding: 15px;                          /*caixa de 15 pixeis à volta do butão*/
    background-color: transparent;          /*cor de fundo transparente*/
    border: transparent;                    /*borda transparente*/
    z-index: 1;                             /*coloca o botão á frente*/
}

header button img{
    border-radius: 50%;                     /*imagem fica em circulo*/
    width: 6vh;                             /*tamanho da imagem*/                  
}

html{
    scroll-behavior: smooth;                /*quando clico no botão para ir para o topo da pagina do footer vai smooth em vez de teletransportar para cima*/
}

body{
    margin: 0;                              /*sem margem*/  
   margin-left: 0.3vw;
    .container{
        width: 100vw;                            /*tamanho da caixa das imagens*/
    }
    
    .container img{
        width: 33vw;                            /*tamanho da imagem*/
    }
    
    @media only screen and (max-width: 900px){  /*só influência quando o ecrâ tem no máximo 900 pixeis*/
    
        .container img{
            width: 31.7vw;                      /*tamanho da imagem aumenta fazendo a outra ir para baixo formando 3 filas*/ 
        }
    }
    
                    
}

footer button{
    position: fixed;                        /*footer seguir quando damos scroll*/
    bottom: 0;                              /*vai para o final da página*/
    right: 0;                               /*vai para a direita da página*/
    padding: 15px;                          /*caixa de 15 pixeis à volta do butão*/
    background-color: transparent;          /*cor de fundo transparente*/
    border: transparent;                    /*borda transparente*/
    
}

footer button img{
    border-radius: 50%;                     /*imagem fica em circulo*/
    width: 6vh;                             /*tamanho da imagem*/   
}

@media only screen and (max-width: 600px){  /*só influência quando o ecrâ tem no máximo 600 pixeis*/


    header button{
        visibility: hidden;                 /*esconde o butão*/
    }

    footer button{
        visibility: hidden;                 /*esconde o botão*/
    }

}
